.debug {
    -fx-border-color: red;
    -fx-border-width: 5;
    -fx-border-style: solid;
}

.header-text {
    -fx-font-family: "Inter";
    -fx-font-weight: 700;
    -fx-font-size: 20;
}

.header {


}

.header-my-archives-label {
    -fx-font-family: "Inter";
    -fx-font-size: 13;
    -fx-font-weight: 400;
}

.toolbar-text {
    -fx-font-family: "Modern Sans Light";
    -fx-font-size: 16;
    -fx-font-weight: 700;
}

.toolbar-button {
    -fx-border-color: #152742;
    -fx-border-width: 1;
    -fx-border-style: hidden solid solid solid;
}

.toolbar-button:hover {
    -fx-background-color: #5b9aff;
}

.enter-password-label {
    -fx-font-family: "Modern Sans Light";
    -fx-font-size: 16;
}

.drag-menu, .text-field {
    -fx-background-color: #1C2226;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-border-color: #272F35;
}

.text-field {
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
}

.drag-menu-text {
    -fx-font-family: "Modern Sans Light";
    -fx-font-weight: 600;
    -fx-font-size: 16;
}

.button {
    -fx-background-color: #0D9EF2;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
    -fx-text-fill: white;
    -fx-padding: 8px 16px;
}

.drag-menu-choose-btn {
    -fx-background-color: #0D9EF2;
    -fx-font-size: 16;
    -fx-border-radius: 16px;
    -fx-background-radius: 16px;
}

.choice-box > .label {
    -fx-text-fill: #F4F5F5;
}

.file-text {
    -fx-font-size: 12;
    -fx-font-family: "Modern Sans Light";
    -fx-font-weight: 700;
}

.archive-name-field {
    -fx-font-size: 24px;
}

.tree-table-view {
    -fx-background-color: transparent;
    -fx-table-cell-border-color: transparent;
    -fx-control-inner-background: #1E1E2F;
}

.column-header, .filler {
    -fx-background-color: #161B1D;
}

.column-header {
    -fx-padding: 0px 0px 0px 16px;
    -fx-border-color: #364149;
    -fx-border-width: 1px;
    -fx-border-style: solid solid solid hidden;
}

.tree-table-view {
    -fx-background-radius: 32px;
}

.tree-table-view .column-header .label {
    -fx-text-fill: white;
    -fx-alignment: CENTER_LEFT;
    -fx-font-weight: 700;
    -fx-font-family: "Inter";
}

.tree-table-row-cell {
    -fx-background-color: #1E1E2F;
    -fx-text-fill: white;
}

.tree-table-cell {
    -fx-padding: 0px 0px 0px 14px;
}

.tree-table-cell:selected, .tree-table-cell:focused {
     -fx-border-color: transparent;
     -fx-border-width: 0;
     -fx-focus-color: transparent;
     -fx-faint-focus-color: transparent;
}

.tree-table-row-cell:odd {
     -fx-background-color: #161B1D;

 }

 .tree-table-row-cell:even {
    -fx-background-color: #1C2226;
 }


 .tree-table-cell:focused {
     -fx-border-color: transparent;
     -fx-border-width: 0;
     -fx-focus-color: transparent;
     -fx-faint-focus-color: transparent;
     -fx-background-color: #0D9EF2;

 }

 .tree-table-row-cell:selected {
      -fx-background-color: #0D9EF2;
     -fx-text-fill: white;
 }

 .back-button {
    -fx-background-color: transparent;
 }






