.debug {
    -fx-border-color: red;
    -fx-border-width: 5;
    -fx-border-style: solid;
}

.header-text {
    -fx-font-family: "Modern Sans Light";
    -fx-font-weight: 700;
    -fx-font-size: 20;
}

.header {
    -fx-background-color: #20385e;
    -fx-border-width: 1;
    -fx-border-color: #152742;
    -fx-border-style: hidden hidden solid hidden;
}

.toolbar-text {
    -fx-font-family: "Modern Sans Light";
    -fx-font-size: 16;
    -fx-font-weight: 700;
}

.toolbar-button {
    -fx-border-color: #152742;
    -fx-border-width: 1;
    -fx-border-style: hidden solid solid solid;
}

.toolbar-button:hover {
    -fx-background-color: #5b9aff;
}

.menu-text {
    -fx-font-family: "Modern Sans Light";
    -fx-font-weight: 700;
    -fx-font-size: 20;
}

.drag-menu {
    -fx-background-color: #1d57a3;
    -fx-border-color: #152742;
    -fx-border-width: 1;
    -fx-border-style: solid;
}

.drag-menu-text {
    -fx-font-family: "Modern Sans Light";
    -fx-font-weight: 700;
    -fx-font-size: 15;
}

.file-text {
    -fx-font-size: 12;
    -fx-font-family: "Modern Sans Light";
    -fx-font-weight: 700;
}

.text-field {
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-prompt-text-fill: white;
    -fx-border-color: white;
    -fx-border-width: 1.5;
    -fx-border-style: hidden hidden solid hidden;
    -fx-padding: 0
}